<ol>
    <li>Need to integrate MFE with HOST</li>
    <li>Need to establish communication between HOST and MFE</li>
    <li>Need to implement MFE in various technology such as Reach JS, Vue JS etc.</li>
</ol>
<h1>Thank you</h1>
<a href="todo-list/test" routerLinkActive="active">Test Link</a>

<div class="form-check col-md-7">
    <label>
      <input class="form-check-input"
             type="checkbox"
             (change)="checkChanged()"
             [checked]="displayCode">
      Display Product Code
    </label>
  </div>